# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Nodes\SpringBoot-Labs\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
